.v-pagination li button {
  background: var(--v-bg-secondary-base) !important;
}
.v-pagination .v-pagination__item--active {
  background: var(--v-primary-base) !important;
}

.v-picker .v-picker__body {
  background: var(--v-bg-accent-base) !important;
}

.v-picker .v-picker__actions {
  background: var(--v-bg-primary-base) !important;
}

.v-picker .v-date-picker-table .v-date-picker-table__current {
  color: var(--v-text-secondary) !important;
}

.v-picker .v-date-picker-table .v-btn--active {
  background: var(--v-bg-accent-base) !important;
  color: var(--v-text-secondary) !important;
}

.v-menu__content .v-list {
  background: var(--v-bg-accent-base) !important;
}

.toasted-container {
  font-family: Roboto, sans-serif !important;
}
